{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
 <div class="container">
        <div class="row mt-5">
          <div class="col-md-4">
            <div class="media">
              <div class="icon mr-3">
                <i class='fas fa-car-side' style='font-size:30px'></i>
              </div>
              <div class="media-body">
                <h3 class="h5">Lorem ipsum is <br> simply dummy</h3>
                <p class="text-dark text-left">
                  Contrary to popular belief,<br> Lorem ipsum is not simply <br> random text.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="media">
              <div class="icon mr-3">
                <i class='fas fa-car-side' style='font-size:30px'></i>
              </div>
              <div class="media-body">
                <h3 class="h5">Lorem ipsum is <br> simply dummy</h3>
                <p class="text-dark text-left">
                  Contrary to popular belief,<br> Lorem ipsum is not simply <br> random text.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="media">
              <div class="icon mr-3">
                <i class='fas fa-car-side' style='font-size:30px'></i>
              </div>
              <div class="media-body">
                <h3 class="h5">Lorem ipsum is <br> simply dummy</h3>
                <p class="text-dark text-left">
                  Contrary to popular belief,<br> Lorem ipsum is not simply <br> random text.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
  <h2 style="text-align:center; text-transform: uppercase;font-family: sans-serif;">In samenwerking met</h2>
<img src="https://mk0mborijnlandnw1cam.kinstacdn.com/wp-content/uploads/mboRijnland_logo_kleur_blokje.png" class=" float-right" alt="Mbo" style="width:30%">
<img src="https://www.dehaagsehogeschool.nl/docs/default-source/documenten-over-de-haagse/mediakit/hhs_nl_groen_hex.png?sfvrsn=2aafb951_0" class=" float-left" alt="HBO" style="width:30%">
</div>

{% endblock %}
