{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<div class="container">
    <div class="md-form">
        <input type="search" id="form-autocomplete-4" class="form-control mdb-autocomplete">
        <label for="form-autocomplete-4" class="active">What is your favorite US state?</label>
    </div>
    <br>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
        <label class="custom-control-label" for="defaultUnchecked">Default unchecked</label>
    </div>
    <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">Ibnil Kelb</label>
    </div>
    <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">Arab Tayzek</label>
    </div>
    <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">Ya Kelb</label>
    </div>
</div>
{% endblock %}