{% block header %}
    <div class="home-header">
        <div class="header-tekst"></div>
        <img class="header-image" style="min-width: 100%;pointer-events:none;filter: brightness(75%);" src="{{ asset('uploads/images/header.png') }}">
    </div>
{% endblock %}