{% block video %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RDPyhGLet1g"></iframe>
            </div>
        </div>
        <div class="col-sm-4">
            <div>
                <h1>De oplossing voor jou onderneming</h1>
                <span>
                Door ICT-onderwijs, onderzoek, overheid en bedrijven te verbinden in één gebouw ontstaat een broedplaats vol interactie en samenwerking. Zo creëren wij een innovatieve plek waar kennisdeling plaatsvindt, innovaties ontstaan en co-creaties geboren worden. 
                Door ICT-onderwijs, onderzoek, overheid en bedrijven te verbinden in één gebouw ontstaat een broedplaats vol interactie en samenwerking. Zo creëren wij een innovatieve plek waar kennisdeling plaatsvindt, innovaties ontstaan en co-creaties geboren worden.
                Door ICT-onderwijs, onderzoek, overheid en bedrijven te verbinden in één gebouw ontstaat een broedplaats vol interactie en samenwerking. Zo creëren wij een innovatieve plek waar kennisdeling plaatsvindt, innovaties ontstaan en co-creaties geboren worden.
                Door ICT-onderwijs, onderzoek, overheid en bedrijven te verbinden in één gebouw ontstaat een broedplaats vol interactie en samenwerking. Zo creëren wij een innovatieve plek waar kennisdeling plaatsvindt, innovaties ontstaan en co-creaties geboren worden.
                <br>
                <br>
                Daarmee is de Dutch Innovation Factory een Playground voor digital Innovators geworden. Een warm welkom met onze vraag aan jou “hoe wordt jij een Playground voor digital Innovators.                 
                </span>
            </div>
            <br>
            <div class="justify-content-center">
                <button type="button" class="btn btn-outline-warning waves-effect">Warning</button>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}