{% block video %}
    <div class="video-container container-fluid" style="background: #F2F2F2;height: 528px;display: flex;">
        <div class="video" style="width: 220%;text-align: center;">
            <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/RDPyhGLet1g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video-tekst" style="padding-right: 5%;">
            <h1 style="font-size: 3rem;font-weight: 700;">DE OPLOSSING VOOR JOUW ONDERNEMING</h1>
            <div class="header-tekst">
                <span style="font-size: 1.3rem;font-weight: 600;">
                        Door ICT-onderwijs, onderzoek, overheid en bedrijven te verbinden in één gebouw ontstaat een broedplaats vol interactie en samenwerking. Zo creëren wij een innovatieve plek waar kennisdeling plaatsvindt, innovaties ontstaan en co-creaties geboren worden. 
                        <br>
                        <br>
                        Daarmee is de Dutch Innovation Factory een Playground voor digital Innovators geworden. Een warm welkom met onze vraag aan jou “hoe wordt jij een Playground voor digital Innovators.                 </span>
            </div>
            <div class="header-button">
                <a class="btn" style="width: 350px;background-color: #D9C900;border-radius: 30px;font-size: 2.2rem;color: black;font-weight: 600;margin-top: 50px;">Lees meer</a>
            </div>
        </div>
    </div>
{% endblock %}